name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: test
    runs-on: ubuntu24

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam
        with:
          elixir-version: 1.19.3
          otp-version: 28.1.1

      - name: Install dependencies
        run: mix deps.get

      - name: Run tests
        run: mix test
